<!DOCTYPE html>
<html lang="en">

<head>
    <title>WebTech</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="./images/logo.png"> -->
    <link rel="Stylesheet" type="text/css" href="./styles/styles.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="content">
                <div class="logo">
                    <h1>WebTech</a>
                    </h1>
                </div>
                <div class="nav-menu right">
                    <nav>
                        <ul>
                            <li><a href="index.html"><img src="./images/home.png">Home</a></li>
                            <li><a href="#"><img src="./images/pin.png">Topics</a></li>
                            <li><a href="#"><img src="./images/mind.png">Exercises</a></li>
                            <li><a href="#"><img src="./images/group.png">About Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section id="intro">
        <div class="container">
            <img src="sample4.jpg">
            <p>&emsp;&emsp;Learning is an infinite process of gaining information, skills and experience. Nowadays, online learning is considered to be a powerful way of disseminating information. It supports accessibility of information anytime and anywhere. With online resources presents in the web, learning becomes convenient and portable.</p>
        </div>
    </section>

    <section id="hometopics">
        <div class="container">
            <div class="content">
                <h3>Topics</h3>
                <div id="topics-desc">
                    <p>Great ways to learn about web technology are the topics presented below. It includes a brief summary of what a certain topic is all about. </p>
                </div>
                <figure class="topic-container">
                    <img src="sample2.jpg" alt="sample41" />
                    <figcaption>
                        <h4><b>World Wide Web</b></h4>
                        <p>&emsp;World Wide Web is widely used in today’s generation. The web is collection of web resources and application that allows people to access the resources through the internet. </p>
                    </figcaption>
                </figure>
                <figure class="topic-container">
                    <img src="sample2.jpg" />
                    <figcaption>
                        <h4><b>Hyper Text Transfer Protocol</b></h4>
                        <p>&emsp;Discuss on how HTTP works behind the web browser. Some of the extension of the HTTP which is the WebDav. </p>
                    </figcaption>
                </figure>
                <figure class="topic-container">
                    <img src="sample2.jpg" />
                    <figcaption>
                        <h4><b>Hyper Text Markup Language</b></h4>
                        <p>&emsp;Discuss the standard language used to markup documents like web pages in the web mainly of HTML and XHTML together with its version brief history. </p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="content">
                <p>&copy;<i> Copyright 2018. <a href="index.html"><b>WebTech</b></a>. All Rights Reserved.</i></p>
            </div>
        </div>
    </footer>
</body>

</html>
