<!DOCTYPE HTML>
<html lang="en">
 <head>
     <title>TOPICS</title>
	 <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1"/>
     <!-- <link rel="icon" type="image/png" sizes="32x32" href="./images/logo.png"> -->
     <!-- <link rel="Stylesheet" type="text/css" href="./styles/styles.css"> -->
</head>

<body>
    <header>
        <div class="container">
            <div class="content">
                <div class="logo">
                    <h1>WebTech</a>
                    </h1>
                </div>
                <div class="nav-menu right">
                    <nav>
                        <ul>
                            <li><a href="index.html"><img src="./images/home.png">Home</a></li>
                            <li><a href="#"><img src="./images/pin.png">Topics</a></li>
                            <li><a href="#"><img src="./images/mind.png">Exercises</a></li>
                            <li><a href="#"><img src="./images/group.png">About Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

		<!-- Main -->
			<div id="main">
                
				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h2>TOPICS</h2>
							</header>
							<div class="flex flex-3">
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/Icon-WWW.jpg" alt="WWW" />
									</div>
									<a href="#" class="button">Learn More</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/Icon-HTML.jpg" alt="HTML" />
									</div>
									<a href="#" class="button">Learn More</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/Icon-HTTP.jpg" alt="HTTP" />
									</div>
									<a href="#" class="button">Learn More</a>
								</div>
							</div>
						</div>
					</section>
			</div>

		<!-- Footer -->
            <footer>
                <div class="container">
                    <div class="content">
                        <p>&copy;<i> Copyright 2018. <a href="index.html"><b>WebTech</b></a>. All Rights Reserved.</i></p>
                    </div>
                </div>
            </footer>
	</body>
</html>