*,
:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.6em;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    border-bottom: 2px solid #565656;
    border-bottom-width: medium;
    text-align: center;
    padding-bottom: 7px;
    letter-spacing: 3px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-shadow: -1.5px 1.5px 0 #a6a6a6;
}

h3 {
    font-size: 19px;
}

h4 {
    font-size: 18px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 70px;
}

.content {
    margin: 0 auto;
}

.content:before,
.content:after {
    display: table;
    content: " ";
}

.content:after {
    clear: both;
}

/* Section */

section {
    padding: 2rem 0 0 0;
}

section * {
    position: relative;
    z-index: 1;
}

#html,
#html-intro,
#html-version,
#html-5,
#html-browser,
#www-intro,
#www-introo,
#www-internet,
#www,
#www-components,
#http-intro,
#http-version,
#http-codes,
#http-works,
#http-headers,
#http-webdav,
#www-how,
#css,
#css-style,
#css-statements,
#css-prefrapol,
#js,
#js-grammar,
#js-asynch,
#js-ecma,
#js-client,
#js-dom,
#js-datype {
    width: 78%;
    position: relative;
    margin-left: 21%;
}

/* Menu Navigation */

.logo,
.nav-menu,
.desc-img,
.desc-content,
.html,
.http,
.banner {
    float: left;
    padding: 0 10px;
}

.logo h1 {
    font-size: 24px;
    padding: 0;
    margin: auto;
}

.logo img {
    width: 6em;
    height: 3em;
    padding: 0;
    margin: auto;
}

.nav-menu {
    width: 50%;
}

.logo {
    width: 24%;
}

.right {
    float: right;
}

a {
    color: inherit;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    text-decoration: none;
}

#link {
    color: #077c9d;

}

#link:hover {
    text-shadow: -1px 1px 0 #bfbfbf;
    letter-spacing: 2px;
}

#active {
    color: #e52f37;

}

header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background: #2ca7d9;
    transition: 0.5s;
    color: #fff;
    padding: 12px 10px 7px 0;
    box-shadow: 0 0 13px #000;
}

header h3 {
    font-family: Georgia;
    margin: 0;
}

header h3 a {
    color: #fff;
}

header nav {
    padding: 1px 0;
}

header nav > ul {
    list-style: none;
    margin: 0 -15px 0 0;
}

header nav > ul > li {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 7px;
}

header nav > ul > li.active a {
    color: #FFF;
}

header nav > ul > li > a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    transition: 0.5s;
    line-height: 3em;
}

header nav > ul > li > a > img {
    height: 1.6em;
    padding-top: 10px;
    padding-right: 6px;
}

header nav > ul > li > a:hover {
    color: #fff;
    letter-spacing: 4px;
}

#intro {
    margin-top: 5em;
    text-align: left;
    color: #000;
}

#intro p {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.7em;
    z-index: 1;
}

/* Footer */

footer {
    background-color: #077c9d;
    color: #ffff;
    width: 100%;
    position: absolute;
}

footer p {
    font-size: 12px;
    text-align: center;
}
