*,
:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.6em;
    margin-bottom: auto;
    margin-top: auto;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;
}

.content {
    margin: 0 auto;
}

.content:before,
.content:after {
    display: table;
    content: " ";
}

.content:after {
    clear: both;
}

#html,
#www,
#http {
    width: 77%;
    position: relative;
    margin-left: 21%;
}

.side-nav {
    width: 18%;
    height: 30%;
    position: fixed;
    top: 5em;
    margin-left: -2em;
    margin-top: 1em;
    padding: 1em 1em;
    font-size: 15px;
    border: 3px solid #4d79ff;
    border-radius: 5px;
    -webkit-box-shadow: -4px 6px 7px 0px rgba(194, 192, 194, 1);
    -moz-box-shadow: -4px 6px 7px 0px rgba(194, 192, 194, 1);
    box-shadow: -4px 6px 7px 0px rgba(194, 192, 194, 1);
}

.side-nav h2 {
    font-size: 18px;
    letter-spacing: .3em;
    text-transform: capitalize;
    text-align: center;
    border-bottom: 1.5px solid #666666;
    padding-bottom: 3px;
    color: #333;
}

.side-nav nav > ul > li {
    margin-top: auto;
    padding-right: -20px;
    color: #1a1a1a;
}

.side-nav nav > ul > li > a:hover {
    color: #040acf;
}

.side-nav nav > ul > li > a:active {
    font-weight: bold;
    color: #000;
}

.side-nav nav > ul > li > a:visited {
    text-decoration: underline;
}

.banner {
    width: 100%;
    height: 80%;
}

/* Header */

.logo,
.nav-menu,
.desc-img,
.desc-content,
.html,
.www,
.http,
.banner {
    float: left;
    padding: 0 10px;
}

.logo h1 {
    font-size: 24px;
    padding: 0;
    margin: auto;
}

.nav-menu {
    width: 49%;
}

.logo {
    width: 24%;
}

.right {
    float: right;
}

a {
    color: inherit;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background: #0f77eb;
    transition: 0.5s;
    color: #fff;
    padding: 12px 10px 7px 0;
    box-shadow: 0 0 13px #000;
}

header h3 {
    font-family: Georgia;
    margin: 0;
}

header h3 a {
    color: #fff;
}

header nav {
    padding: 1px 0;
}

header nav > ul {
    list-style: none;
    margin: 0 -15px 0 0;
}

header nav > ul > li {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 7px;
}

header nav > ul > li.active a {
    color: #FFF;
}

header nav > ul > li > a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    transition: 0.5s;
    line-height: 3em;
}

header nav > ul > li > a > img {
    height: 1.6em;
    padding-top: 10px;
    padding-right: 6px;
}

header nav > ul > li > a:hover {
    color: #fff;
    letter-spacing: 4px;
}


section {
    padding: 2rem 0;
}

section * {
    position: relative;
    z-index: 1;
}


/* Introduction Section */

#intro {
    margin-top: 5.5em;
    text-align: left;
    background-color: #fff;
    color: #000;
}

#intro p {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.7em;
}

#intro img {
    width: 100%;
    height: 400px;
}

#hometopics {
    background-color: #fff;
}

#hometopics h2 {
    text-align: center;
    padding: 0;
    margin: auto;
    text-transform:
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);

/* Topics section */

#topics-desc {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.7em;
    text-align: center;
    color: #333;
}

figure.topic-container {
    font-family: "Raleway", Arial, sans-serif;
    color: #fff;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 22px 1em;
    min-width: 250px;
    max-width: 350px;
    max-height: 230px;
    width: 100%;
    background: #333;
    text-align: left;
}

figure.topic-container * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

figure.topic-container img {
    max-width: 100%;
    opacity: 10;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.topic-container figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 2.7em;
    width: 100%;
    height: 100%;
}

figure.topic-container figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 100%;
    border-left: 4px solid rgba(255, 255, 255, 0.8);
    content: "";
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.50);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

figure.topic-container h4,
figure.topic-container p {
    margin: 0 0 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s, -moz-transform 0.35s,
    -o-transform 0.35s, transform 0.35s;
}

figure.topic-container h4 {
    font-size: 19px;
    margin-bottom: auto;
    word-spacing: 0.15em;
    font-weight: 200;
    text-transform: uppercase;
    -webkit-transform: translate3d(30%, 0%, 0);
    transform: translate3d(30%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

figure.topic-container h4 b {
    font-weight: 800;
}

figure.topic-container p {
    font-weight: 400;
    font-size: 15px;
    margin-top: 2px;
    letter-spacing: 1px;
    -webkit-transform: translate3d(0%, 30%, 0);
    transform: translate3d(0%, 30%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

figure.topic-container:hover img {
    opacity: 0.3;
    transition-delay: 0s;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

figure.topic-container:hover figcaption h4 {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

figure.topic-container:hover figcaption p {
    opacity: 0.9;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

figure.topic-container:hover figcaption::before {
    background: rgba(255, 255, 255, 0);
    left: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
}

/* Footer */

footer {
    background-color: #0f77eb;
    color: #ffff;
    width: 100%;
    position: absolute;
}

footer p {
    font-size: 12px;
    text-align: center;
}

.desc-content {
    width: 64%;
    float: right;
}

.desc-content h2 {
    margin-top: -6px;
}

.desc-img {
    width: 35%;
}

.img-wrapper {
    position: relative;
}

.img-wrapper:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.img-wrapper img {
    height: 23vw;
    width: 18.6vw;
}

#description,
#www-content {
    padding-top: 5.7em;
}

.image-bg {
    z-index: 1;
    padding: 13em 0 8em 0;
    background-image: url(../sample5.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    color: #FFF;
    position: relative;
}

.image-bg:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.image-bg h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: -2px 2px 0 #000;
}

#web-creator html {}

#description html {}
