<!DOCTYPE html>
<html lang="en">

<head>
    <title>WebTech</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="./images/logo.png"> -->
    <link rel="Stylesheet" type="text/css" href="../styles/styles.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="content">
                <div class="logo">
                    <h1>WebTech</a>
                    </h1>
                </div>
                <div class="nav-menu right">
                    <nav>
                        <ul>
                            <li><a href="../index.html"><img src="../images/home.png">Home</a></li>
                            <li><a href="topics.html"><img src="../images/pin.png">Topics</a></li>
                            <li><a href="#"><img src="../images/mind.png">Exercises</a></li>
                            <li><a href="#"><img src="../images/group.png">About Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section id="topics-menu">
        <div class="container">
            <div class="content">
                <h1>Topics</h1>
                <!-- bahala ka na kung gusto mong baguhin to -->
            </div>
    </section>

    <section id="hometopics">
        <div class="container">
            <div class="content">
                <!-- Dito mo na ilagay yung mga icons-->
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="content">
                <p>&copy;<i> Copyright 2018. <a href="index.html"><b>WebTech</b></a>. All Rights Reserved.</i></p>
            </div>
        </div>
    </footer>
</body>

</html>
