<!DOCTYPE html>
<html lang="en">

<head>
    <title>WebTech</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="./images/logo.png"> -->
    <link rel="Stylesheet" type="text/css" href="../styles/styles.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="content">
                <div class="logo">
                    <h1>WebTech</a>
                    </h1>
                </div>
                <div class="nav-menu right">
                    <nav>
                        <ul>
                            <li><a href="../index.html"><img src="../images/home.png">Home</a></li>
                            <li><a href=""><img src="../images/pin.png">Topics</a></li>
                            <li><a href="#"><img src="../images/mind.png">Exercises</a></li>
                            <li><a href="#"><img src="../images/group.png">About Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="content">
            <section class="side-nav">
                <h2>Subtopics</h2>
                <nav>
                    <ul>
                        <li><a href="#">Introduction : HTML</a></li>
                        <li><a href="#">HTML and XHTML Version History</a></li>
                        <li><a href="#">HTML5 New Tags</a></li>
                        <li><a href="#">Browser Wars</a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </div>

    <article class="html">
        <section id="description">
            <div class="container">
                <div class="content">
                    <h2>What is HTML?</h2>
                    <p>&emsp;&emsp;Hypertext Markup Language (HTML) is a language used to markup documents like web pages in the World Wide Web. Through this, browsing over the web becomes standardized via the markup language. The hypertexts are displayed in a way it is structured using the language. This allows the user to view the web page beautifully and understandably in accordance to standard.</p>
                </div>
            </div>
        </section>

        <section id="web-creator">
            <div class="container">
                <div class="content">
                    <div class="desc-img">
                        <div class="img-wrapper">
                            <img src="../images/timburners.jpg">
                        </div>
                    </div>
                    <div class="desc-content">
                        <h2>Inventor of the Web</h2>
                        <p>&emsp;&emsp;In 1989, Tim Berners Lee invented the web.</p>
                        <p>&emsp;&emsp;Tim Berners Lee is the Director of the World Wide Web Consortium (W3C). W3C was founded in 1994, it is an organization specifically of the web which develops specification, guidelines, software and tools to fully use the functionality of the web. Sir Tim who is working in CERN, the European Particle Physics Laboratory developed the idea of collaboration among different scientist in the whole world. With his idea, documentation of scientific and mathematical nature would be done through the web. Of course Sir Tim’s idea could be done using some sort of hypertext. The birth of the web gives life to the language of creating web pages, the Hypertext Markup Language.</p>
                    </div>
                </div>
            </div>
        </section>
    </article>





    <footer>
        <div class="container">
            <div class="content">
                <p>&copy;<i> Copyright 2018. <a href="index.html"><b>WebTech</b></a>. All Rights Reserved.</i></p>
            </div>
        </div>
    </footer>
</body>

</html>
