<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webtech</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="content">
                <div class="logo">
                    <h1>WebTech</a>
                    </h1>
                </div>
                <div class="nav-menu right">
                    <nav>
                        <ul>
                            <li><a href="../index.html"><img src="../images/home.png">Home</a></li>
                            <li><a href=""><img src="../images/pin.png">Topics</a></li>
                            <li><a href="#"><img src="../images/mind.png">Exercises</a></li>
                            <li><a href="#"><img src="../images/group.png">About Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="content">
            <section class="side-nav">
                <h2>Subtopics</h2>
                <nav>
                    <ul>
                        <li><a href="#">Introduction : HTML</a></li>
                        <li><a href="#">HTML and XHTML Version History</a></li>
                        <li><a href="#">HTML5 New Tags</a></li>
                        <li><a href="#">Browser Wars</a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </div>

    <article class="www">
        <section id="www-content">
            <div class="container">
                <div class="content">
                    <h3>Birth of the Web</h3>
                    <p>&emsp;&emsp;The World Wide Web (WWW) started way back in 1989 when Sir Tim Berners-Lee, a computer scientist in CERN, wanted to find an easier way to share information to his co scientist. Before he invented the WWW, the different scientists working in CERN find it difficult to share and access their researches to their co-workers. As a way to solve this issue, he wrote his proposal entitled “Information Management: A Proposal”. Within this document is his vision for what would soon be known as the World Wide Web.</p>
                </div>
            </div>
        </section>

        <section id="www-content">
            <div class="container">
                <div class="content">
                    <h3>The Internet</h3>
                    <p>&emsp;&emsp;Many people interchange the terms “Internet” and “Web”. The internet and the web are two separate entities. Internet is short for International Network, which is a global network of networks. In simpler terms, the internet is a large collection of devices connected together to share information and have electronic communication.</p>
                    <p>&emsp;&emsp;The internet composed of three platforms:</p>
                    <ul>
                        <li><b>Host</b> – these are devices connected to the internet.</li>
                        <li><b>Interconnection media</b> – these are platform that may either be wireless or wired.</li>
                        <li><b>Protocols</b> – these governs how hosts communicate over the interconnection media.</li>
                    </ul>
                    <p>&emsp;&emsp;The internet serves as a platform to build or run an application. One of the most successful application ever develop that run on-top of the internet is the WWW.</p>
                    <p>Other application that uses the infrastructure of the internet:
                        <ul>
                            <li>Email </li>
                            <li>Distributed File System</li>
                            <li>Online Games</li>
                            <li>Remote log-in</li>
                            <li>VoIP &#40;Voice over IP&#41 based application</li>
                        </ul>
                    </p>
                </div>
            </div>
        </section>


    </article>





    <footer>
        <div class="container">
            <div class="content">
                <p>&copy;<i> Copyright 2018. <a href="index.html"><b>WebTech</b></a>. All Rights Reserved.</i></p>
            </div>
        </div>
    </footer>
</body>

</html>
